# Postgres
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=lumea
DATABASE_USERNAME=lumea
DATABASE_PASSWORD=lumea
DATABASE_SSL=false

# Strapi secrets (згенерувати: openssl rand -base64 32)
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
JWT_SECRET=
ENCRYPTION_KEY=

# Web
NEXT_PUBLIC_STRAPI_URL=http://127.0.0.1:1337
NEXT_PUBLIC_SITE_URL=http://localhost:3000
